body {
    font-family: Arial, sans-serif;
    background-color: #a1ddd6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-top: 0;
    color: #367081;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background-color: #57c9c3;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #4693a8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

span {
    flex: 1;
}

.delete {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.delete:hover {
    color: #000;
}
